$card-box-shadow: $black 0 0 4px;
.western-card {
  @include breakpoint($desktop) {
    transform: translatey(-48px);
  }
  background-color: linear-gradient(top,#3a5a8f,#003f87);
  box-shadow: $card-box-shadow;

  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2em;

    a {
      display: block;
      padding: $standard-spacing;
      text-align: center;
      color: $dark-blue;
      background-color: $white;
    }
  }

  a {
    color: white;
  }

  .western-contact-info {
    padding: $standard-spacing;
  }

  i {
    color: $yellow;
    font-size: 24px;
  }

  .western-social-media {
    @include breakpoint($desktop) {
      justify-content: start;

      li {
        margin-right: 9px;
      }
    }
    a::before {
      @include breakpoint($desktop) {
        font-size: 32px;
      }
      font-size: 36px;
    }
  }
}
