.nav--main {
  .menu {
    @include breakpoint($desktop) {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

/* Mobile */
@include breakpoint(max-width $desktop) {
  .nav--main {
  grid-row: 6 / span 2;
  grid-column: 1 / span 2;

  .menu {
    li {
      border: none;

      &:first-of-type,
      &:last-of-type {
        border: none;
      }

      a {
        max-width: none;
        width: 100%;
        display: block;
        border: 0;
        height: inherit;
        padding: 18px;
        text-align: left;
        box-sizing: border-box;
        border: solid transparent 3px;

        &:hover,
        &:focus {
          border-color: mix(white, $light-green, 20%);
          color: mix(white, $light-green, 20%);
        }

        &:before,
        &:after {
          border: none;
        }
      }

      &:nth-of-type(odd) {
        a {
          background-color: $dark-blue;
        }
      }

      &:nth-of-type(even) {
        a {
          background-color: mix(white, $dark-blue, 5%);
        }
      }
    }
  }
}
}
