$toggle-size: 58px;
$toggle-size--larger: 72px;

.toggle {
  width: 100%;
  height: $toggle-size;
  padding: 0;
  color: $white;
  border: none;
  border-radius: 0;
  background-color: $blue;
  z-index: 2;

  grid-column: 2 / span 1;
}

.toggle-quick-links {
  @include breakpoint($desktop) {
    display: none;
  }

  grid-row: 1 / span 2;
  transform: rotate(90deg);
}

.toggle-search {
  @include breakpoint($desktop) {
    align-self: end;

    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
  }

  grid-row: 3 / span 2;
}

.toggle-main-nav {
  @include breakpoint($desktop) {
    display: none;
  }

  grid-row: 5 / span 2;
}
