.western-quick-links {
  @include breakpoint($desktop) {
    display: inherit;
    align-self: center;
    height: 100%;
    background-color: transparent;

    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    justify-self: stretch;
  }
  display: none;
  background-color: $white;

  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  justify-self: end;

  .quick-links-menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      @include breakpoint($desktop) {
        padding: 0;
        font-size: inherit;
      }
      padding: 12px;
      text-align: center;
      font-size: 0.8em;
    }

    a {
      @include breakpoint($desktop) {
        border-bottom: solid 1px $blue;
        font-size: inherit;
      }

      &:hover,
      &:focus {
        border: none;
      }
    }

    i {
      @include breakpoint($desktop) {
        display: none;
      }
    }
  }
}
