.western-search-widget {
  @include breakpoint($desktop) {
    grid-column: 5 / span 1;
    grid-row: 2 / span 2;
  }
  z-index: 3;
  box-shadow: $card-box-shadow;

  grid-column: 1 / span 1;
  grid-row: 2 / span 4;
  justify-self: end;

  form {
    display: grid;
    width: 350px;
    background-color: $white;

    grid-template-columns: auto 100px;
    grid-template-rows: $toggle-size $toggle-size;

    #search-box {
      padding: $standard-spacing / 2;
      border: none;
      border-bottom: solid $light-green 2px;
    }

    .search-option {
      display: block;
      padding: $standard-spacing / 2;

      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    input,
    label {
      margin: 0;
      font-size: inherit;
      font-weight: normal;
    }

    label[for="search-box"] {
      font-size: 0;
    }

    label[for="western-search-western"] {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }

    input[type="submit"] {
      padding: 0;
      color: $white;
      border: none;
      border-radius: 0;
      background: $blue;

      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
    }
  }
}
