/* Custom site CSS goes here. */
/** Introduction Panel **/
.intro {
  margin-top: 2.5em;
}

/** Content Panels **/
.panel.feature:first-of-type {
  margin-top: 2em;
}
.info-container {
  padding-top: 48px;
  padding-right: 36px;
  padding-bottom: 48px;
  padding-left: 36px;
  background: linear-gradient(-40deg, #00326c, #003f87);
}
.info-container h2 {
  color: white;
}
.info-container h3 {
  color: #c8e03b;
}
.info-container p {
  color: white;
}
.info-container h2:after {
  content: '';
  display: block;
  width: 90%;
  border-bottom: solid #bad80a 4px;
  margin-top: 36px;
}
.image-container {
  filter: brightness(90%) contrast(110%);
}
.image-container img {
  width: 100%;
}
.image-container iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

@media screen and (min-width: 581px) {
  .news .panel {
    flex-flow: row;
  }
  .news p {
    width: 49%;
  }

  /* Content Panels on a Grid */
  .feature {
    display: grid;
    margin-bottom: 2em;

    grid-template-columns: 9px 18px 1fr 36px 48px 36px 1fr 18px 9px;
    grid-template-rows: 80px 9px 22px auto 90px 22px 9px;
  }
  .feature:nth-of-type(odd) .info-container {
    padding-right: 36px;
    padding-bottom: 96px;
    padding-left: 84px;

    grid-column: 5 / -3;
    grid-row: 1 / 6;
  }
  .feature:nth-of-type(even) .info-container {
    padding-right: 84px;
    padding-bottom: 96px;
    padding-left: 36px;

    grid-column: 3 / 6;
    grid-row: 1 / 6;
  }
  .feature:nth-of-type(odd) .image-container {
    grid-column: 3 / 6;
    grid-row: 4 / span 1;
  }
  .feature:nth-of-type(even) .image-container {
    grid-column: 5 / -3;
    grid-row: 4 / span 1;
  }

  /* Decorative blocks create the layered effect */
  .decorative.border {
    z-index: -2;
    border: solid #007ac8 9px;
    background-color: #eaedef;

    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
  /* These decorative block just overlap the border to hide it */
  .decorative.block-one,
  .decorative.block-two {
    z-index: -1;
    background-color: #eaedef;
  }
  .feature:nth-of-type(odd) .decorative.block-one {
    grid-column: 1 / -4;
    grid-row: 5 / -1;
  }
  .feature:nth-of-type(even) .decorative.block-one {
    grid-column: 4 / -1;
    grid-row: 5 / -1;
  }
  .feature:nth-of-type(odd) .decorative.block-two {
    grid-column: 4 / -2;
    grid-row: 2 / 3;
  }
  .feature:nth-of-type(even) .decorative.block-two {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
  }
}
