@mixin hide-text {
	font-size: 0;
	height: 0;
	width: 0;
}

@mixin hide-element {
	display:none;
}

@mixin center-horizontal {
	position: relative;
	left: 50%;
	@include transform(translateX(50%));
}

@mixin center-vertical {
	position: relative;
	top: 50%;
	@include transform(translateY(50%));
}

@mixin accordion-nav-style {
	@include transition(.33s color);
	color:$wwuBlue;
	border-bottom:solid 1px #fff;
	display:block;
	width:auto;
	text-decoration:none;
	font-size:1em;
	&:hover {
		@include transition(.1s color);
		background-color:lighten($wwuLtGray, 6%);
	}
}

@mixin drop-shadow($trans:0.04) {
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, $trans);
	-moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, $trans);
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, $trans);
}

@mixin western-logo {
	height:125px;
	width:220px;
	background-color:$wwuBlue;
	background-image:url('//www.wwu.edu/wwucommon/lite/images/western-logo.png');
	background-repeat:no-repeat;
	background-position:50% 25%;
	float:left;
	position:relative;
	margin-top:-75px;
	left:(.5em * 3);
	top: 20px;
	@include box-shadow($dark 0 0 4px);

	&:focus {
		border-bottom: 3px solid $wwuLtBlue;
	}
}
