@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello-84055489.eot");
  src: url("../fonts/fontello-84055489.eot") format('embedded-opentype'),
       url("../fonts/fontello-84055489.woff") format('woff'),
       url("../fonts/fontello-84055489.ttf") format('truetype'),
       url("../fonts/fontello.svg?84055489#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

$small-font-size: 15px;
$medium-font-size: 18px;
$large-font-size: 24px;
