.western-social-media {
  @include breakpoint($desktop) {
    justify-content: space-between;
  }
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 0 auto;
  padding: $standard-spacing;
  list-style: none;

  a {
    color: $white;
    font-size: 0;

    &:hover,
    &:focus {
      color: $light-green;
    }

    &:before {
      @include breakpoint($large-screens) {
        font-size: 42px;
      }
      font-family: fontello;
      font-size: 36px;
    }
  }
}
.westernIcons-WwuSocialIcon:before {
  content: "\e82a";
}
.western-facebook-icon:before {
  content: "ā";
}
.western-flickr-icon:before {
  content: "Ă";
}
.western-googleplus-icon:before {
  content: "ă";
}
.western-instagram-icon:before {
  content: "Ą";
}
.western-tumblr-icon:before {
  content: "ą";
}
.western-twitter-icon:before {
  content: "Ć";
}
.western-rss-icon:before {
  content: "ć";
}
.western-youtube-icon:before {
  content: "Ĉ";
}
