$desktop-grid-columns: $standard-spacing 1fr 1fr 1fr $standard-spacing;
$large-grid-columns: 1fr repeat(3, ($max-content-width / 3)) 1fr;


footer {
  @include breakpoint($desktop) {
    display: grid;

    grid-template-columns: $desktop-grid-columns;
    grid-template-rows: ($standard-spacing * 2) auto;
  }
  @include breakpoint($large-screens) {
    grid-template-columns: $large-grid-columns;
  }
  display: flex;
  flex-flow: row wrap;
  margin-top: 2em;
  background-color: $dark-blue;
  font-size: 0.65em;

  .footer-left {
    @include breakpoint($desktop) {
      width: inherit;
    }
    width: 45%;

    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    .tagline {
      display: block;
      margin: $standard-spacing;
      padding: ($standard-spacing * 2);
      text-align: center;
      text-transform: uppercase;
      color: $white;
      border-left: solid 3px mix(white, $dark-blue, 20%);
      font-size: $h6-font-size;
    }
  }

  .footer-center {
    @include breakpoint($desktop) {
      width: inherit;
    }
    width: 45%;

    grid-column: 3 / span 1;
    grid-row: 2 / span 1;

    ul {
      margin: $standard-spacing;
    }
  }

  .footer-right {
    @include breakpoint($desktop) {
      text-align: left;
    }
    width: 100%;
    text-align: center;

    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
}
