// Header specific variables
$menu-padding: 4px;
$top-bar: 68px;
$bottom-bar: $toggle-size;
$cover-height: auto;
$half-toggle: $toggle-size / 2;
$logo-width: 282px;
$logo-height: 144px;
$logo-width--larger: 306px;
$logo-height--larger: 154px;
$logo-width--horizontal: 400px;
$logo-height--horiztonal: 100px;


// Calculate some variable spaces
// Header interior space at $desktop
$int-space: ($max-content-width - $logo-width - $toggle-size) / 2;
$mobile-grid-columns: 1fr $toggle-size;
$mobile-grid-rows: $half-toggle $half-toggle $half-toggle $half-toggle $half-toggle $half-toggle $cover-height auto;
$desktop-grid-columns: $standard-spacing $logo-width 4fr 5fr $toggle-size $standard-spacing;
$desktop-grid-rows: $top-bar $bottom-bar $toggle-size $cover-height auto auto;
$large-grid-columns: 1fr $logo-width $int-space $int-space $toggle-size 1fr;
$large-grid-rows: $top-bar $bottom-bar $toggle-size $cover-height auto auto;

header {
  @include breakpoint($desktop) {
    font-size: $small-font-size;

    grid-template-columns: $desktop-grid-columns;
    grid-template-rows: $desktop-grid-rows;
  }
  @include breakpoint($large-screens) {
    font-size: $medium-font-size;

    grid-template-columns: $large-grid-columns;
    grid-template-rows: $large-grid-rows;
  }
  display: grid;

  grid-template-columns: $mobile-grid-columns;
  grid-template-rows: $mobile-grid-rows;

  * {
    z-index: 1;
  }

  .western-logo {
    @include breakpoint($desktop) {
      height: $logo-height;
      box-shadow: $card-box-shadow;

      grid-column: 2 / span 1;
      grid-row: 1 / span 3;

      .regular {
        display: block !important;
      }
      .horizontal {
        display: none;
      }
    }
    background-color: $dark-blue;

    grid-column: 1 / span 1;
    grid-row: 1 / span 3;

    .regular {
      display: none;
    }

    .logo,
    .logo.horizontal {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: $standard-spacing;
    }
  }

  .university-name {
    @include hide-text;
    display: block;
    height: 0;
  }

  .tagline {
    @include breakpoint($desktop) {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }
    align-self: center;
    padding-left: $standard-spacing;
    color: $dark-blue;
    font-size: $h5-font-size;
  }

  .site-name {
    @include breakpoint($desktop) {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
      justify-self: start;
    }
    align-self: center;
    padding-left: $standard-spacing;
    color: $white;
    font-size: $h4-font-size;

    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
    justify-self: center;
  }

  .site-cover {
    @include breakpoint($desktop) {
      grid-column: 1 / -1;
      grid-row: 1 / -2;
    }
    z-index: 0;
    overflow: hidden;
    max-height: 95vh;

    grid-column: 1 / -1;
    grid-row: 4 / -1;

    img {
      width: 100%;
    }

    .video-fluid-container {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-top: 0;
      padding-bottom: 66.67%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .nav--main {
    @include breakpoint($desktop) {
      display: inherit;

      grid-column: 2 / span 4;
      grid-row: 5 / span 2;
    }
    display: none;
    transform: none;

    .menu {
      @include breakpoint($desktop) {
        display: flex;
      }
      display: block;
    }
  }

  .decorative {
    &.top-bar {
      @include breakpoint($desktop) {
        display: inherit;
        border-bottom: solid ($menu-padding * 2) $blue;
        background-color: transparentize($white, 0.1);

        grid-column: 1 / -1;
        grid-row: 1 / span 1;
      }
      display: none;
    }

    &.bottom-bar {
      @include breakpoint($desktop) {
        background-color: transparentize($dark-blue, 0.1);

        grid-column: 1 / -1;
        grid-row: 2 / span 1;
      }
      background-color: mix(black, $dark-blue, 10%);

      grid-column: 1 / span 1;
      grid-row: 4 / span 2;
    }
  }
}

// Hacky Mobile Menu Styles
@media screen and (max-width: $desktop) {
  .nav--main.alt {
    .menu {
      li {
        a {
          text-transform: none;
          height: initial;
          border: none;

          &::before,
          &::after {
            border: none;
          }
        }
      }
    }
  }
}
