main {
  section {
    display: grid;

    grid-template-areas: " . content-area . " ;
    grid-template-columns: $standard-spacing 1fr $standard-spacing;
    grid-template-rows: auto;

    @include breakpoint($large-screens) {
      grid-template-columns: 1fr $max-content-width 1fr;      
    }
  }

  .panel {
    grid-column: content-area;
    padding-bottom: $standard-spacing * 2;
  }
}
