<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://www.wwu.edu/wwucommon/lite/js/modernizer.js"></script>
<script src="http://www.wwu.edu/wwucommon/lite/js/jquery.flexslider-min.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script src="includes/js/jquery.sticky-kit.min.js"></script>
<script src="includes/js/toggles.js"></script>
<script src="includes/js/feed.js"></script>
